{% include "header.html" %}


<div class="container">
    <div class="row row-margin">
        <div class="col-lg-6">
            <img id="alis" src="../static/img/user/trish/Alison.jpg" alt="Alison Photo" class="img-thumbnail">
        </div>
        <div class="col-lg-6">
            <img id="alis" src="../static/img/user/trish/David.jpg" alt="David Photo" class="img-thumbnail">
        </div>
    </div>

    <div class="row row-margin">
        <div class="col-lg-6">
            <img id="alis" src="../static/img/user/trish/Paula.jpg" alt="Paula Photo" class="img-thumbnail">
        </div>
        <div class="col-lg-6">
            <img src="../static/img/user/trish/Tony.jpg" alt="Tony Photo" class="img-thumbnail">
        </div>
    </div>

    <div id="mask"></div>

    <div class="center-block">
        <div id="notification" class="vertical-align text-center">
            <p id="successFeedback" class="notification-text">Thanks for letting me know!</p>
            <p id="failFeedback" class="notification-text">Sorry, Please touch again!</p>
        </div>
    </div>
</div>
{% include "footer.html"%}