{% include "header.html" %}
<script src="../static/js/clickImage.js"></script>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img id="alis" src="../static/img/user/trish/Alison.jpg" alt="Alison Photo" class="img-thumbnail">
        </div>
        <div class="col-lg-6">
            <img id="alis" src="../static/img/user/trish/David.jpg" alt="David Photo" class="img-thumbnail">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img id="alis" src="../static/img/user/trish/Paula.jpg" alt="Paula Photo" class="img-thumbnail">
        </div>
        <div class="col-lg-6">
            <img src="../static/img/user/trish/Tony.jpg" alt="Tony Photo" class="img-thumbnail">
        </div>
    </div>

    {% include "notification.html" %}
</div>
{% include "footer.html"%}